.Character {
  height: 60%;
  background-color: rgb(160, 160, 221);
  color: black;
  border: rgb(12, 2, 59);
  }
  img {
    display: block;
    margin: auto;
    width: 60%;
    height: 60%
  }
  h3 {
    text-align: center;
  }
  p {
    padding: 1rem 2rem;
    line-height: 1.5rem;
  }
